.pattern-matching-container
    text-align: center

    .tables-container
        display: flex
        justify-content: center
        gap: 40px
        width: 100%
        max-width: 1000px
        margin: 20px auto
        overflow-x: auto

    .table-wrapper
        flex: 1
        min-width: 30%
        max-width: 45%
        overflow-x: auto
        white-space: nowrap

        .table
            width: auto
            border-collapse: collapse
            margin: 0 auto
            font-size: 14px

            th, td
                padding: 4px 6px
                border: 1px solid black
                text-align: left

        p
            margin-bottom: 8px
            font-weight: bold

    h1
        margin-bottom: 10px

    input[type="file"]
        display: none

    .custom-file-label
        margin-top: 10px
        margin-bottom: 20px
        display: inline-block
        padding: 8px 16px
        background-color: #007bff
        color: white
        border-radius: 4px
        cursor: pointer
        text-align: center
        border-radius: 100px

        &:hover
            background-color: #0056b3
