/* pattern-matching.sass */

.pattern-matching-container
    text-align: center

.table-container
    margin-bottom: 20px

.table
    border-collapse: collapse
    margin: 0 auto

    th, td
        border: 1px solid black
        padding: 8px
        text-align: left

/* Hide the default file input */
input[type="file"]
    display: none

.custom-file-label
    display: inline-block
    padding: 8px 16px
    background-color: #007bff
    color: white
    border-radius: 4px
    cursor: pointer
    text-align: center

    &:hover
        background-color: #0056b3

h1
    margin-bottom: 10px

.result-container
    margin-top: 20px
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px // Reduced spacing between "Your input data" and the table

    p
        margin-bottom: 0 // Remove bottom margin of the "Your input data" text

    .table
        border-collapse: collapse
        margin: 0 auto

        th,
        td
            border: 1px solid black
            padding: 8px
            text-align: left

.textarea-container
    display: flex
    align-items: center
    justify-content: center
    gap: 10px

    textarea
        height: 50px
        width: 90%
        max-width: 500px
        padding: 10px
        border: 1px solid #ccc
        border-radius: 4px
        resize: none
