frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/.env
frontend/coverage
frontend/build
frontend/npm-debug.log*

backend/.env
backend/venv
backend/backend/__pycache__
backend/rhombus_ai/__pycache__
backend/rhombus_ai/migrations/__pycache__

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*

dataset
